
<div>
  <div>
    <%= form_with model: @customer, url: customers_infomation_path, method: :patch do |f| %>
    <table>
      <tr>
        <th>ユーザ名</th>
        <td><%= f.text_field :name, :required => true %></td>
      </tr>
      <tr>
        <th></th>
        <td><%= f.submit '変更', class: 'btn btn-success' %></td>
      </tr>
      <tr>
        <th></th>
        <td><%= link_to "退会する", customers_unsubscribe_path, class: 'btn btn-danger top-30' %></td>
      </tr>
    </table>
    <% end %>
  </div>
</div>
