
<div>ユーザー情報編集画面</div>

<div>
  <div>
    <%= form_with model: @customer, url: customers_infomation_path, method: :patch do |f| %>
    <div>
      <span>名前</span>
      <%= f.text_field :name %>
      <%= f.submit '変更' %>
    </div>
    <% end %>
  </div>
</div>

<div><%= link_to "退会する", customers_unsubscribe_path %></div>