
<div>ユーザー情報編集画面</div>

<div>
  <div>
    <%= form_with model: @customer, url: customer_path(@customer.id), method: :patch do |f| %>
    <div>
      <span>名前</span>\
      <%= f.text_field :name %>
      <%= f.submit '変更' %>
    </div>
    <% end %>
  </div>
</div>