
<div>まいきゃら一覧（会員詳細画面 ）</div>

<div><%= link_to "ユーザー情報を編集する", edit_customer_path(current_customer.id) %></div>


<div>
  <div>まいきゃら一覧</div>
  <div>
    <% @characters.each do |character| %>
    <div><%= character.name %></div>
    <% end %>
  </div>
</div>