
<div class="title">ネタ一覧(<%= @materials.count %>件) </div>

<div>
  <div><%= link_to "追加する", new_material_path %></div>
</div>

<div>
  <% @materials.each do |material| %>
  <div><%= material.material %></div>
  <% end %>
</div>