<div>
  <div>まいきゃら</div>
  <p>
    オリジナルキャラクター「まいきゃら」を</br>
    カテゴリやタグ、複数の画像登録で</br>
    管理できるサイトです。</br>
    ぜひ創作の手助けにご利用ください。</br>
    ※登録にはアカウント登録が必要です。
  </p>
</div>

<% if @inquiries.count == 0 %>
<% else %>
  <div>
    <% @inquiries.each do |inquiry| %>
      <%= inquiry.inquiry %>
      <div>
        <div>ステータス</div>
        <div><%= inquiry.content_i18n %></div>
      </div>
      </br>
    <% end %>
  </div>
<% end %>

<div>
  <div><%= link_to "まいきゃら一覧", customers_my_chara_path %></div>
  <div><%= link_to "まいきゃら登録", new_character_path %></div>
</div>