
/*width*/

.width-100p {
  width: 100%;
}

.width-80p {
  width: 80%;
}

.width-60p {
  width: 60%;
}

.width-50p {
  width: 50%;
}

.width-40p {
  width: 40%;
}

.width-30p {
  width: 30%;
}

.width-500 {
  width: 500px;
}

.width-250 {
  width: 250px;
}

.width-150 {
  width: 150px;
}

.width-100 {
  width: 100px;
}

/********************//********************/

/*height*/

.height-80 {
  height: 80px;
}

.height-200 {
  height: 200px;
}

/********************//********************/


/*font*/

.font-13 {
  font-size: 13px;
}

.font-15 {
  font-size: 15px;
}

.font-20 {
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

.font-40 {
  font-size: 40px;
}

/********************//********************/


/*space*/

.space-70 {
  margin-bottom: 70px;
}

.space-50 {
  margin-bottom: 50px;
}

.space-30 {
  margin-bottom: 30px;
}

.space-20 {
  margin-bottom: 20px;
}

.space-10 {
  margin-bottom: 10px;
}

.space-5 {
  margin-bottom: 5px;
}

/**/

.left-space-40 {
  margin-left: 40px;
}

.left-space-30 {
  margin-left: 30px;
}

.left-space-20 {
  margin-left: 20px;
}

.left-space-10 {
  margin-left: 10px;
}

.left-space-5 {
  margin-left: 5px;
}

/**/

.right-space-15 {
  margin-right: 15px;
}

.right-space-5 {
  margin-right: 5px;
}

.right-space-7 {
  margin-right: 7px;
}

/**/

.top-60 {
  margin-top: 60px;
}

.top-10 {
  margin-top: 10px;
}

.top-30 {
  margin-top: 30px;
}

/**/

.padding-20-0 {
  padding: 20px 0;
}

.padding-bottom-12 {
  padding-bottom: 12px;
}

.padding-20 {
  padding: 20px;
}

.padding-5 {
  padding: 5px;
}

.padding-3 {
  padding: 3px;
}

/**/

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-5 {
  margin: 5px;
}

.margin-2 {
  margin: 2px;
}

/********************//********************/


/*装飾*/

.underline {
  text-decoration: underline;
}

.font-weight {
  font-weight: bold;
}

.outline {
  border: solid 1px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.outline-radius {
  border: solid 1px;
  border-radius: 8px;
}

.outline-radius-3 {
  border: solid 1px;
  border-radius: 3px;
}

.no-deco {
  font-weight: initial;
}

/********************//********************/

/*配置*/

.flex {
  display: flex;
}

.center {
  margin: 0 auto;
}

.text-center {
  margin: 0 auto;
  text-align: center;
}

.text-right-send {
  text-align: right;
}

.right-send {
  margin-right: 0;
  margin-left: auto;
}

.text-right-send {
  text-align: right;
}

.text-bottom-send {
  align-items: flex-end;
}

.text-middle-send {
  vertical-align: middle;
}

.text-aligin-center {
  text-align: center;
}

.column-3 {
  column-count: 3;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  white-space: nowrap;
}

/********************//********************/

/*ポップアップ*/


/********************//********************/


/*固有CSS*/

.header-btn {
  border: solid 1px #c0c0c0;
  border-radius: 3px;
  color: black;
  text-decoration: none;
  padding: 8px 20px;
}

.logo {
  border: solid 1px;
  position: absolute;
  color: black;
  text-decoration: none;
  padding: 8px 30px;
  margin: 0 20px;
}

.welcome {
  position: absolute;
  width: 80%;
  margin: 30px 0 0 0;
  text-align: center;
}

.title {
  display: inline-block;
  padding: 3px 30px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 22px;
  border-bottom: 1px solid;
}

/********************//********************/

/*タグ*/

header {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
}

footer {
  width: 100%;
  height: 100px;
  margin: 100px 30px 30px 30px;
}

li {
  padding: 0 10px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 30px;
}

th, td {
  padding: 10px 5px;
}

main {
  margin: 20px;
}

a {
  color: black;
}


/********************//********************/