
<div>お問い合わせ投稿</div>

<div>
  <%= form_with model: @inquiry, url: inquiries_path, method: :post do |f| %>
    <%= f.select :content, Inquiry.contents.keys.map {|k| [I18n.t("enums.inquiry.content.#{k}"), k]} %>
    <%= f.text_area :inquiry %>
    <%= f.submit '問い合わせる' %>
  <% end %>
</div>